---
import Layout from '@/layouts/Layout.astro';
import ApartmentDetails from '@/components/ApartmentDetails.jsx';
import { getProperties } from '@/data/db';
import '@/styles/globals.css';

const { id } = Astro.params;
const [propertyId, apartmentNumber] = id.split('/');
const properties = getProperties();
const apartment = properties.flatMap(property => property.floors.flatMap(floor => floor.apartments)).find(apartment => apartment.propertyId === parseInt(propertyId) && apartment.number === apartmentNumber);

export async function getStaticPaths() {
  const properties = getProperties();
  return properties.flatMap(property => property.floors.flatMap(floor => floor.apartments)).map(apartment => ({
    params: { id: `${apartment.propertyId}/${apartment.number}` }
  }));
}
---
<Layout title="Lägenhetshantering Dashboard">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-x-6 lg:gap-y-6">
      <div class="lg:col-span-4">
      {apartment ? (
        <ApartmentDetails apartment={apartment} client:load />
      ) : (
        <p>Lägenhet ej hittad</p>
      )}
      </div>
    </div>
  </body>
</Layout>
