---
import Layout from '../../layouts/Layout.astro'
import Sidebar from '../../components/Sidebar.astro'
import ApartmentDetails from '../../components/ApartmentDetails.jsx'
import { apartments } from '../../data/apartments';

const { id } = Astro.params;
const apartment = apartments.find(apartment => apartment.number === id);

export async function getStaticPaths() {
  return apartments.map(apartment => ({
    params: { id: apartment.number }
  }));
}
---
<Layout title="Lägenhetshantering Dashboard">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <div class="lg:col-span-2">
        {apartment ? (
          <ApartmentDetails apartment={apartment} client:load/>
        ) : (
          <p>Lägenhet ej hittad</p>
        )}
      </div>
      <div class="lg:col-span-1">
        <Sidebar />
      </div>
    </div>
  </body>
</Layout>
