---
import Layout from '@/layouts/Layout.astro';
import ApartmentDetails from '@/components/ApartmentDetails.tsx';
import { getProperties } from '@/data/db';
import '@/styles/globals.css';
import { getApartment } from '@/data/db';
import { ApartmentProvider } from '@/context/ApartmentContext';

const { propId, apartmentId } = Astro.params;
const apartment = getApartment(parseInt(apartmentId))

export async function getStaticPaths() {
  const properties = getProperties();
  return properties.flatMap(property => property.floors.flatMap(floor => floor.apartments)).map(apartment => ({
    params: { propId: apartment.propertyId.toString(), apartmentId: apartment.id.toString() }
  }));
}
---
<Layout title="L채genhetshantering Dashboard" selectedApartment={apartment}>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-x-6 lg:gap-y-6">
      <div class="lg:col-span-4">
      {apartment ? (
          <ApartmentDetails client:load apartment={apartment} />
          <img src="/new-image.jpg" alt="Ny bild p책 l채genheten" />
      ) : (
        <p>L채genhet ej hittad</p>
      )}
      </div>
    </div>
  </body>
</Layout>
