---
import Summary from '@/components/Summary';
import Layout from '../layouts/Layout.astro';
import 'app/globals.css'
---
<Layout title="Welcome to Astro." class="bg-white text-black">
	<main>
		<Summary />
	</main>
</Layout>
