---
import Summary from '@/components/Summary';
import Layout from '@/layouts/Layout.astro';
import '@/styles/globals.css';
import { themeClass } from '@/lib/utils';

---
<Layout title="OneCore startsida">
    <main>
      <Summary />
    </main>
  </body>
</Layout>
