---
import Summary from '@/components/Summary';
import Layout from '@/layouts/Layout.astro';
import '@/styles/globals.css';

---
<Layout title="OneCore startsida">
    <main class="grid grid-cols-1 lg:grid-cols-4 gap-4">
      <div class="lg:col-span-4">
        <Summary />
      </div>
    </main>
</Layout>
