---
import Summary from '@/components/Summary';
import Layout from '../layouts/Layout.astro';
import 'app/globals.css'

const themeClass = 'dark'
---
<Layout title="Welcome to Astro." themeClass={themeClass}>
  <body>
    <main>
      <Summary />
    </main>
  </body>
</Layout>
